.PostBox {
    width: 640px;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding-bottom: 1%;
    
}

h4 {
    margin-left: 1%;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

.postHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1%;
}

.userLogo {
    max-height: 50px;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    border-radius: 155px;
}

.postedImage {

}

.PostIcons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-top: 1%;
    padding-left: 1%;
    
}

.fa-heart {
    font-size: 1.7rem;
    
    padding-right: 46%;
}

.fa-comment {
    font-size: 1.7rem;
}

.likes {
    margin-top: 1%;
    padding-left: 1%;
}

.timestamp {
    padding-left: 2%;
}

.addComment {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 1%;
    padding-bottom: 2%;
    border-top: 1px solid lightgray;
}

form {
    border: none;
}

.fa-ellipsis-h {
    padding-right: 75%;
}